:root {
  --clr-primary-500: hsl(158, 36%, 37%);
  --clr-secondary-700: hsl(158, 42%, 18%);

  --clr-black-900: hsl(212, 21%, 14%);
  --clr-grey-400: hsl(228, 12%, 48%);
  --clr-cream-200: hsl(30, 38%, 92%);
  --clr-white-100: hsl(0, 0%, 100%);

  /* Typography */

  --fs-body-size: 0.875rem;

  --ff-base: "Montserrat", sans-serif;
  --ff-accent: "Fraunces", serif;

  --fw-regular: 500;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-cream-200);
  font-family: var(--ff-base);
  font-size: 0.875rem;
  font-weight: var(--fw-regular);
  min-height: 100vh;
  min-height: 100svh;
  padding: 0 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  background-color: var(--clr-white-100);
  max-width: 23.438rem;
  margin-block: 1.6rem;
}

.product__img {
  max-width: 100%;
  display: block;
}

.product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5em;
  gap: 0.5rem;
}

.product__category {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--clr-grey-400);
  font-size: 0.7rem;
}

h1 {
  line-height: 1.1;
  font-weight: var(--fw-bold);
  font-family: var(--ff-accent);
  font-size: 1.9rem;
  margin-bottom: 0.5rem;
  margin-top: 0.4rem;
}

p {
  color: var(--clr-grey-400);
  line-height: 1.5;
}

.product__prices {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-bottom: 0.2rem;
}

.product__price {
  font-size: 2.1em;
  color: var(--clr-primary-500);
  font-weight: var(--fw-bold);
  font-family: var(--ff-accent);
}

.product__original-price {
  color: var(--clr-grey-400);
  text-decoration: line-through;
}

.button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border: none;
  padding: 0.955em 1.5em;
  border-radius: 0.5rem;
  color: var(--clr-white-100);
  font-weight: var(--fw-bold);
  background-color: var(--clr-primary-500);
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s ease;
}

.button:focus {
  outline: 2px solid var(--clr-primary-500);
  outline-offset: 2px;
}

.button:hover,
.button:focus {
  background-color: var(--clr-secondary-700);
}

@media (min-width: 37.5rem) {
  .product {
    max-width: 37.5rem;
    flex-direction: row;
  }
  h1 {
    font-size: 1.99rem;
    font-weight: var(--fw-bold);
  }

  .product__img {
    height: 100%;
  }

  .product__img img {
    height: 100%;
    object-fit: cover;
  }

  .product__img {
    flex: 1;
  }
  .product__content {
    flex: 1;
  }
}

@media (max-width: 600px) {
  body {
    display: block;
    padding: 1.5rem 1rem; /* ✅ top-bottom 1.5rem, left-right 1rem */
  }
}
